{% extends "base.html" %}

{% block content %}

<section class="container my-5">
    <p class="hero-label">KONTAK</p>
    <h2 class="fw-bold mb-3">Hubungi Sha Bouquets</h2>
    <p class="mb-4">Silakan hubungi kami untuk pemesanan buket atau informasi lebih lanjut.</p>

    <div class="about-box">
        <h4 class="fw-bold mb-4">Informasi Kontak</h4>

        <div class="contact-item">
            <small>Nama Toko</small>
            <p>Sha Bouquets</p>
        </div>

        <div class="contact-item">
            <small>WhatsApp</small>
            <p>089510216171</p>
        </div>

        <div class="contact-item">
            <small>Instagram</small>
            <p>@sha.bouquets</p>
        </div>

        <div class="contact-item">
            <small>Alamat</small>
            <p>Jl. Sepatu GG. Jambu, Kota Prabumulih</p>
        </div>

        <a href="https://wa.me/6289510216171" target="_blank" class="btn btn-success">
            Hubungi via WhatsApp
        </a>

    <h3 class="fw-bold mt-5 mb-4">Lokasi Sha Bouquets</h3>

    <div class="map-box">
        <iframe
            src="https://www.google.com/maps?q=Jl. Sepatu, Karang Raja, Kec. Prabumulih Tim., Kota Prabumulih, Sumatera Selatan 31113&output=embed"
            width="100%"
            height="330"
            style="border:0;"
            allowfullscreen=""
            loading="lazy">
        </iframe>
    </div>

        <a href="https://www.google.com/maps/search/?api=1&query=Prabumulih"
        target="_blank"
        class="btn btn-outline-pink w-100 mt-3">
            Buka di Google Maps
        </a>
</section>

{% endblock %}